body{
  margin: 0;
}
.carousel{
  display: flex;
  justify-content: center;
  background-color: #E9F8F9;
  padding-bottom: 10px;
}
.show{
  border: none;
  background:none;
  color: #537FE7;
  font-size: 15px;
  font-family: "DM Serif Text", serif;
  font-style: italic;
}
h1{
  font-size: 45px;
  color: #181823;
  font-family: "DM Serif Text", serif;
  font-style: italic;
}
h2{
  font-size: 25px;
  color: #181823;
  font-family: "DM Serif Text", serif;
}
p,h3{
  font-size: 20px;
  color: #181823;
  font-family: "DM Serif Text", serif;
  font-style: italic;
}
.source{
  margin-top: 0;
  font-size: 15px;
  color: #537FE7;
  font-family: "DM Serif Text", serif;
}
.description{
  padding: 15px;
}

.btn{
  display: flex;
  justify-content: space-around;
}
.click{
  border: none;
  background: #181823;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: "DM Serif Text", serif;
}

.container{
  display: flex;
  justify-content: center;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #E9F8F9;
  padding: 10px;
}

.remove{
  margin-top: 10px;
  font-size: 18px;
}

